*.obj
/moc_*.cpp
moc_*.cpp
*.log
*.tlog
*.pdb
*.res
*.sdf
*.user
FML/GeneratedFiles/qrc_fml.cpp
.vs/FML2013/v14/.suo
FML/FML.APS
FML/GeneratedFiles/
x64/Release/FML.exe
x64/Debug/FML.ilk
x64/Debug/FML.exe
FML2013.VC.opendb
